body {
    position: relative;
    width: 1440px;
    background: #2B2C3A;
    margin: 0;
    padding-bottom: 1rem;
    font-family: 'Jost', sans-serif;
}

div.leftbar {
    display: block;
    background: #9CA5EC0A;
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

div.Group1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 138px;
    height: 37px;
    left: 30px;
    top: 19px;
}

div.Group1 svg {
    position: absolute;
    width: 41px;
    height: 8px;
    left: 0;
    top: 6px;
}

div.Group1 h6 {
    position: absolute;
    height: 16px;
    left: 110px;
    top: 2px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.Group2 {
    position: absolute;
    left: 0;
    top: 27.27%;
}

div.Group2 h2 {
    position: absolute;
    height: 34px;
    left: 1px;
    top: 1px;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.leftbar .line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 72px;
    background: rgba(216, 216, 216, 0.1);
}

div.games {
    width: 280px;
    margin-top: calc(102px - 7.5px);
}

div.games ul.left-bar-list {
    padding-left: 0;
}

div.games li.one-menu,
div.games label.lecture {
    list-style-type: none;
    display: flex;
    padding: 7.5px 0 7.5px 40px;
    align-items: center;
    justify-content: space-between;
}

div.games li ul.sub {
    display: none;
    width: 100%;
    padding: 0;
}

div.games a, div.games label.lecture {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

div.games svg.st,
div.games svg.st1 {
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding-right: 30px;
}

input#lectures:checked ~ label .st1 {
    transform: matrix(1, 0, 0, 1, 0, 0);
}

input#lectures:checked ~ ul.sub {
    display: block;
}

li input[type="checkbox"] {
    display: none;
}

div.games ul.sub li {
    height: 40px;
    list-style-type: none;
    padding: 6px 0;
}

div.games ul.sub a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.games ul.sub h5{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

div.games ul.sub svg{
    margin: 10px 24px 10px 50px;
    padding: 2px;
}

div.games ul.sub li.click {
    border-left: 3px solid #6F6EFF;
    background: rgba(255, 255, 255, 0.2);
}

div.games ul.sub li.click:hover {
    border-left: 3px solid #6F6EFF;
    background: rgba(255, 255, 255, 0.2);
}

div.games ul.sub li.click h5{
    color: rgba(255, 255, 255);
}

div.games .one-menu:hover{
    background: rgba(255, 255, 255, 0.05);
}

div.games label.lecture:active{
    background: #9CA5EC0A;
}

div.games ul.sub li:hover{
    border-left: 3px solid rgba(111, 110, 255, 0.4);
    background: rgba(255, 255, 255, 0.05);
}

div.leftbar div.line1 {
    width: 100%;
    height: 1px;
    background: rgba(216, 216, 216, 0.06);
    margin-top: 20px;
}

div.switcher {
    position: fixed;
    width: 220px;
    height: 22px;
    left: 30px;
    bottom: 30px;
}

div.switcher h5 {
    position: absolute;
    height: 15px;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    cursor: default;
}

div.switcher input[type='checkbox'].checkbox {
    display: none;
}

div.switcher input[type='checkbox'].checkbox + label {
    position: relative;
    display: block;
}

div.switcher input[type='checkbox'].checkbox + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 170px;
    width: 42px;
    height: 22px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

div.switcher input[type='checkbox'].checkbox + label:before {
    content: "";
    position: absolute;
    left: 174px;
    top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: gray;
    transition: left 100ms ease-in-out;
}

div.switcher input[type='checkbox'].checkbox:checked + label:before {
    left: 195px;
    background: #6F6EFF;
    box-shadow: 0 0 12px rgba(111, 110, 255);
}

div.topbar {
    overflow: hidden;
    position: fixed;
    width: 1160px;
    height: 72px;
    left: 280px;
    top: 0;
    background: #2B2C3A;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    z-index: 500;
}

div.topbar a {
    height: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

div.topbar a.faq {
    position: absolute;
    left: 4.74%;
    top: 31px;
    text-transform: uppercase;
    margin: 0;
}

div.topbar a.pod {
    position: absolute;
    left: 9.4%;
    top: 31px;
    margin: 0;
}

div.topbar a.set {
    position: absolute;
    left: 17.67%;
    top: 31px;
    margin: 0;
}

div.topbar .line {
    position: absolute;
    left: 25.69%;
    top: 25px;
    width: 1px;
    height: 24px;
    background: rgba(216, 216, 216, 0.1);
}

div.topbar div.coins_copy {
    position: absolute;
    width: 96px;
    height: 24px;
    left: 611px;
    top: 24px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.coins_copy h5 {
    position: absolute;
    width: 88px;
    left: 7px;
    top: 4px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.topbar div.coins {
    position: absolute;
    width: 81px;
    height: 24px;
    left: 717px;
    top: 24px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.coins h5 {
    position: absolute;
    width: 65px;
    left: 9px;
    top: 4px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.topbar div.energy {
    position: absolute;
    width: 111px;
    height: 24px;
    left: 808px;
    top: 24px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.energy div.icon1 svg {
    position: absolute;
    left: 30%;
    top: 3px;
}

div.topbar div.energy div.icon1 {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 3px;
    top: 3px;
    background: #FF4738;
    box-shadow: 0 0 12px rgba(255, 71, 56, 0.5);
    border-radius: 4px;
}

div.topbar div.energy h5.num {
    position: absolute;
    height: 10px;
    left: 31px;
    top: 4px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.topbar div.energy h6.hour {
    position: absolute;
    height: 10px;
    left: 60.36%;
    top: 6px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    cursor: default;
}

div.topbar div.account_info {
    position: absolute;
    left: 930px;
    top: 14px;
    width: 190px;
    height: 44px;
}

div.topbar div.account_info div.avatar {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 0;
    top: 0;
    background-image: url("./icons/mulyadi-kL4coQHVj_A-unsplash.png");
}

div.topbar div.account_info h5.name {
    position: absolute;
    height: 10px;
    left: 57px;
    top: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.topbar div.account_info div.online {
    position: absolute;
    width: 48px;
    height: 10px;
    left: 61px;
    top: 27px;
}

div.topbar div.account_info div.online svg {
    position: absolute;
    left: 0;
    top: 7px;
}

div.topbar div.account_info div.online h5 {
    position: absolute;
    height: 10px;
    left: 11px;
    top: 0;
    font-weight: 600;
    color: #24CB8D;
    margin: 0;
    cursor: default;
}

div.topbar div.account_info div.pro {
    position: absolute;
    left: 150px;
    top: 8px;
    width: 40px;
    height: 14px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
}

div.topbar div.account_info div.pro h5 {
    position: absolute;
    height: 10px;
    left: 8px;
    top: 0;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.main{
    width: 1050px;
    display: flex;
    flex-direction: column;
    margin: calc(112px - 30px) 0 0 335px;
}

div.weekly {
    height: 360px;
    margin: 30px 0;
    position: relative;
}

div.weekly h6 {
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 0 7px;
    cursor: default;
}

div.weekly h2 {
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.weekly div.list-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

div.weekly div.list-button-item{
    width: 161px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.weekly a.cta {
    width: 86px;
    height: 30px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    text-decoration: none;
}

div.weekly a.cta h5 {
    text-align: center;
    margin: 7px 0;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: none;
    margin: 0;
}

div.weekly a.arrow_right {
    height: 30px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
}

div.weekly a.arrow_right svg {
    margin: 10px;
}

div.weekly a.arrow_left {
    height: 30px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
}

div.weekly a.arrow_left svg {
    margin: 10px;
}

div.it{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.item {
    height: 294px;
    width: 255px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 6px;
    position: relative;
}

div.item div.action {
    width: 255px;
    height: 144px;
    border-radius: 6px 6px 0 0;
}

div.item-1 div.action {
    background-image: url("icons/maik-jonietz-_yMciiStJyY-unsplash.png");
}

div.item-2 div.action {
    background-image: url("icons/ferenc-almasi-NzERTNpnaDw-unsplash.png");
}

div.item-3 div.action {
    background-image: url("icons/pankaj-patel-SXihyA4oEJs-unsplash.png");
}

div.item-4 div.action {
    background-image: url("icons/nick-karvounis-TkZYCXmrKK4-unsplash.png");
}

div.item div.lec {
    position: absolute;
    left: 15px;
    top: 15px;
    height: 20px;
    width: 50px;
    background: #6F6EFF;
    border-radius: 3px;
}

div.item div.lec h6 {
    width: 39px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin: 2px 5px;
    text-transform: none;
    cursor: default;
}

div.item h4 {
    font-weight: 400;
    color: #FFFFFF;
    margin: 15px 15px 3px;
    cursor: default;
}

div.item h5.description {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 15px;
    cursor: default;
}

div.item div.line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 61px;
    background: rgba(216, 216, 216, 0.1);
}

div.item div.group {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 225px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.item div.group h5 {
    font-weight: 400;
    color: #FFFFFF;
    cursor: default;
    padding: 3px 0;
    margin: 0;
}

div.item a.cta {
    width: 89px;
    height: 30px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    text-decoration: none;
}

div.item a.cta h5 {
    font-weight: 400;
    color: #FFFFFF;
    cursor: default;
    margin: 7px 18px;
    padding: 0;
}

div.weekly a.cta:hover,
div.weekly a.cta :hover,
div.item a.cta h5:hover{
    background: linear-gradient(90deg, #4e4dbd 0%, #4b4ab0 100%);
    cursor: pointer;
}

div.topbar a.faq:hover,
div.topbar a.pod:hover,
div.topbar a.set:hover,
div.weekly a.arrow_left:hover,
div.weekly a.arrow_right:hover {
    cursor: pointer;
}

div.weekly a.arrow_left:hover,
div.weekly a.arrow_right:hover {
    background: #9CA5EC0A;
}