body{
    position: relative;
    width: 1440px;
    height: 810px;
    background: #2B2C3A;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

div.leftbar{
    display: block;
    background: #9CA5EC0A;
    width: 280px;
    height: 810px;
    position: fixed;
    left: 0;
    top: 0;
}

div.Group1{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 138px;
    height: 37px;
    left: 30px;
    top: 19px;
}

div.Group1 svg{
    position: absolute;
    width: 41px;
    height: 8px;
    left: 2px;
    top: 7px;
}

div.Group1 h6{
    position: absolute;
    height: 16px;
    left: 110px;
    top: 2px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.Group2{
    position: absolute;
    left: 0;
    top: 27.27%;
}

div.Group2 h2{
    position: absolute;
    height: 34px;
    left: 1px;
    top: 1px;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

.leftbar .line{
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 72px;
    background: rgba(216, 216, 216, 0.1);
}

.line1{
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 570px;
    background: rgba(216, 216, 216, 0.06);
}

div.switcher{
    position: absolute;
    width: 220px;
    height: 22px;
    left: 30px;
    top: 757px;
}

div.switcher h5{
    position: absolute;
    height: 15px;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    cursor: default;
}

div.switcher input[type='checkbox'].checkbox {
    display: none;
}

div.switcher input[type='checkbox'].checkbox + label {
    position: relative;
    display: block;
}

div.switcher input[type='checkbox'].checkbox + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 170px;
    width: 42px;
    height: 22px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

div.switcher input[type='checkbox'].checkbox + label:before {
    content: "";
    position: absolute;
    left: 174px;
    top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: gray;
    transition: left 100ms ease-in-out;
}

div.switcher input[type='checkbox'].checkbox:checked + label:before {
    left: 195px;
    background: #6F6EFF;
    box-shadow: 0 0 12px rgba(111, 110, 255);
}

div.topbar{
    overflow: hidden;
    position: fixed;
    width: 1160px;
    height: 72px;
    left: 280px;
    top: 0;
    background: #2B2C3A;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    z-index: 500;
}

div.topbar a{
    height: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

div.topbar a.faq{
    position: absolute;
    left: 4.74%;
    top: 31px;
    text-transform: uppercase;
    margin: 0;
}

div.topbar a.pod{
    position: absolute;
    left: 9.4%;
    top: 31px;
    margin: 0;
}

div.topbar a.set{
    position: absolute;
    left: 17.67%;
    top: 31px;
    margin: 0;
}

div.topbar .line{
    position: absolute;
    left: 25.69%;
    top: 25px;
    width: 1px;
    height: 24px;
    background: rgba(216, 216, 216, 0.1);
}

div.topbar div.coins_copy{
    position: absolute;
    width: 96px;
    height: 24px;
    left: 611px;
    top: 24px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.coins_copy h5{
    position: absolute;
    width: 88px;
    left: 7px;
    top: 4px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.topbar div.coins{
    position: absolute;
    width: 81px;
    height: 24px;
    left: 717px;
    top: 24px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.coins h5{
    position: absolute;
    width: 65px;
    left: 9px;
    top: 4px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.topbar div.energy{
    position: absolute;
    width: 111px;
    height: 24px;
    left: 808px;
    top: 24px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.energy div.icon1 svg{
    position: absolute;
    left: 30%;
    top: 3px;
}

div.topbar div.energy div.icon1{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 3px;
    top: 3px;
    background: #FF4738;
    box-shadow: 0 0 12px rgba(255, 71, 56, 0.5);
    border-radius: 4px;
}

div.topbar div.energy h5.num{
    position: absolute;
    height: 10px;
    left: 31px;
    top: 4px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.topbar div.energy h6.hour{
    position: absolute;
    height: 10px;
    left: 60.36%;
    top: 6px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    cursor: default;
}

div.topbar div.account_info{
    position: absolute;
    left: 930px;
    top: 14px;
    width: 190px;
    height: 44px;
}

div.topbar div.account_info div.avatar{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 0;
    top: 0;
    background-image: url("./icons/mulyadi-kL4coQHVj_A-unsplash.svg");
}

div.topbar div.account_info h5.name{
    position: absolute;
    height: 10px;
    left: 57px;
    top: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.topbar div.account_info div.online{
    position: absolute;
    width: 48px;
    height: 10px;
    left: 61px;
    top: 27px;
}

div.topbar div.account_info div.online svg{
    position: absolute;
    left: 0;
    top: 7px;
}

div.topbar div.account_info div.online h5{
    position: absolute;
    height: 10px;
    left: 11px;
    top: 0;
    font-weight: 600;
    color: #24CB8D;
    margin: 0;
    cursor: default;
}

div.topbar div.account_info div.pro{
    position: absolute;
    left: 150px;
    top: 8px;
    width: 40px;
    height: 14px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
}

div.topbar div.account_info div.pro h5{
    position: absolute;
    height: 10px;
    left: 8px;
    top: 0;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.weekly{
    width: 1050px;
    height: 360px;
}

div.weekly_quests{
    position: absolute;
    left: 335px;
    top: 112px;
}

div.weekly_quests_copy{
    position: absolute;
    left: 335px;
    top: 532px;
    margin-bottom: 50px;
}

div.weekly h6{
    position: absolute;
    height: 16px;
    left: 0;
    top: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
    cursor: default;
}

div.weekly h2{
    position: absolute;
    height: 18px;
    left: 0;
    top: 23px;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.weekly a.cta{
    position: absolute;
    width: 86px;
    height: 30px;
    left: 889px;
    top: 11px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    text-decoration: none;
}

div.weekly a.cta h2{
    position: absolute;
    width: 80px;
    left: 13px;
    top: 7px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: none;
}

div.weekly a.arrow_right{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 985px;
    top: 11px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
}

div.weekly a.arrow_right svg{
    position: absolute;
    left: 10px;
    top: 10px;
}

div.weekly a.arrow_left{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1020px;
    top: 11px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
}

div.weekly a.arrow_left svg{
    position: absolute;
    left: 12px;
    top: 10px;
}

div.item{
    height: 294px;
    width: 255px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 6px;
}

div.item div.action{
    width: 255px;
    height: 144px;
    border-radius: 6px 6px 0 0;
}

div.item-1{
    position: absolute;
    left: 0;
    top: 66px;
}

div.item-2{
    position: absolute;
    left: 266px;
    top: 66px;
}

div.item-3{
    position: absolute;
    left: 532px;
    top: 66px;
}

div.item-4{
    position: absolute;
    left: 795px;
    top: 66px;
}

div.item-1 div.action{
    background-image: url("icons/maik-jonietz-_yMciiStJyY-unsplash.png");
    position: absolute;
    left: 0;
    top: 0;
}

div.item-2 div.action{
    background-image: url("icons/ferenc-almasi-NzERTNpnaDw-unsplash.png");
    position: absolute;
    left: 0;
    top: 0;
}

div.item-3 div.action{
    background-image: url("icons/pankaj-patel-SXihyA4oEJs-unsplash.png");
    position: absolute;
    left: 0;
    top: 0;
}

div.item-4 div.action{
    background-image: url("icons/nick-karvounis-TkZYCXmrKK4-unsplash.png");
    position: absolute;
    left: 0;
    top: 0;
}

div.item div.lec{
    position: absolute;
    left: 15px;
    top: 15px;
    height: 20px;
    width: 50px;
    background: #6F6EFF;
    border-radius: 3px;
}

div.item div.lec h6{
    position: absolute;
    width: 39px;
    height: 12px;
    left: 6px;
    top: 2px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    text-transform: none;
    cursor: default;
}

div.item h4{
    position: absolute;
    height: 12px;
    left: 15px;
    top: 159px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.item h5{
    position: absolute;
    height: 18px;
    left: 15px;
    top: 181px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    cursor: default;
}

div.item div.line{
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 232px;
    background: rgba(216, 216, 216, 0.1);
}

div.item div.group{
    position: absolute;
    width: 225px;
    height: 30px;
    left: 15px;
    top: 249px;
}

div.item div.group h5{
    position: absolute;
    height: 10px;
    left: 10px;
    top: 10px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.item a.cta{
    position: absolute;
    left: 130px;
    top: 2px;
    width: 89px;
    height: 30px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    text-decoration: none;
}

div.item a.cta h5{
    position: absolute;
    height: 10px;
    left: 18px;
    top: 5px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    cursor: default;
}

div.weekly a.cta:hover{
    background: linear-gradient(90deg, #4e4dbd 0%, #4b4ab0 100%);
    cursor: pointer;
}

div.topbar a.faq:hover,
div.topbar a.pod:hover,
div.topbar a.set:hover,
div.weekly a.arrow_left:hover,
div.weekly a.arrow_right:hover{
    cursor: pointer;
}

div.weekly a.arrow_left:hover,
div.weekly a.arrow_right:hover{
    background: #9CA5EC0A;
}