body{
    position: relative;
    width: 1440px;
    height: 810px;
    background: #2B2C3A;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

div.leftbar{
    display: block;
    background: #9CA5EC0A;
    width: 280px;
    height: 810px;
    position: absolute;
    left: 0;
    top: 0;
}

div.Group1{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 138px;
    height: 37px;
    left: 30px;
    top: 19px;
}

div.Group1 svg{
    position: absolute;
    width: 41px;
    height: 8px;
    left: 2px;
    top: 7px;
}

div.Group1 p{
    position: absolute;
    height: 16px;
    left: 110px;
    top: 2px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

div.Group2{
    position: absolute;
    left: 0;
    top: 27.27%;
}

div.Group2 p{
    position: absolute;
    height: 34px;
    left: 1px;
    top: 1px;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

.leftbar .line{
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 72px;
    background: rgba(216, 216, 216, 0.1);
}

.line1{
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 570px;
    background: rgba(216, 216, 216, 0.06);
}

div.switcher{
    position: absolute;
    width: 220px;
    height: 22px;
    left: 30px;
    top: 757px;
}

div.switcher p{
    position: absolute;
    height: 15px;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

div.switcher input[type='checkbox'].checkbox {
    display: none;
}

div.switcher input[type='checkbox'].checkbox + label {
    position: relative;
    display: block;
}

div.switcher input[type='checkbox'].checkbox + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 170px;
    width: 42px;
    height: 22px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

div.switcher input[type='checkbox'].checkbox + label:before {
    content: "";
    position: absolute;
    left: 174px;
    top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: gray;
    transition: left 100ms ease-in-out;
}

div.switcher input[type='checkbox'].checkbox:checked + label:before {
    left: 195px;
    background: #6F6EFF;
    box-shadow: 0 0 12px rgba(111, 110, 255);
}

div.topbar{
    position: absolute;
    width: 1160px;
    height: 58px;
    left: 280px;
    top: 14px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

div.topbar p{
    height: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.6);
}

div.topbar p.faq{
    position: absolute;
    left: 4.74%;
    top: 17px;
    text-transform: uppercase;
    margin: 0;
}

div.topbar p.pod{
    position: absolute;
    left: 9.4%;
    top: 17px;
    margin: 0;
}

div.topbar p.set{
    position: absolute;
    left: 17.67%;
    top: 17px;
    margin: 0;
}

div.topbar .line{
    position: absolute;
    left: 25.69%;
    top: 17.24%;
    width: 1px;
    height: 24px;
    background: rgba(216, 216, 216, 0.1);
}

div.topbar div.coins_copy{
    position: absolute;
    width: 96px;
    height: 24px;
    left: 611px;
    top: 10px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.coins_copy p{
    position: absolute;
    width: 78px;
    height: 10px;
    left: 9px;
    top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    color: #FFFFFF;
    margin: 0;
}

div.topbar div.coins{
    position: absolute;
    width: 81px;
    height: 24px;
    left: 717px;
    top: 10px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.coins p{
    position: absolute;
    width: 65px;
    height: 10px;
    left: 9px;
    top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    color: #FFFFFF;
    margin: 0;
}

div.topbar div.energy{
    position: absolute;
    width: 111px;
    height: 24px;
    left: 808px;
    top: 10px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
}

div.topbar div.energy div.icon1 svg{
    position: absolute;
    left: 30%;
    top: 3px;
}

div.topbar div.energy div.icon1{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 3px;
    top: 3px;
    background: #FF4738;
    box-shadow: 0 0 12px rgba(255, 71, 56, 0.5);
    border-radius: 4px;
}

div.topbar div.energy p.num{
    position: absolute;
    height: 10px;
    left: 31px;
    top: 9px;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    margin: 0;
}

div.topbar div.energy p.hour{
    position: absolute;
    height: 10px;
    left: 60.36%;
    top: 8px;
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

div.topbar div.account_info{
    position: absolute;
    left: 930px;
    top: 0;
    width: 190px;
    height: 44px;
}

div.topbar div.account_info div.avatar{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 0;
    top: 0;
    background-image: url("icons/mulyadi-kL4coQHVj_A-unsplash.svg");
}

div.topbar div.account_info p.name{
    position: absolute;
    height: 10px;
    left: 57px;
    top: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
}

div.topbar div.account_info div.online{
    position: absolute;
    width: 48px;
    height: 10px;
    left: 61px;
    top: 27px;
}

div.topbar div.account_info div.online svg{
    position: absolute;
    left: 0;
    top: 3px;
}

div.topbar div.account_info div.online p{
    position: absolute;
    height: 10px;
    left: 11px;
    top: 1px;
    font-weight: 600;
    font-size: 13px;
    color: #24CB8D;
    margin: 0;
}

div.topbar div.account_info div.pro{
    position: absolute;
    left: 150px;
    top: 8px;
    width: 40px;
    height: 14px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
}

div.topbar div.account_info div.pro p{
    position: absolute;
    height: 10px;
    left: 8px;
    top: 2px;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}